$background         : #EEEEEE;
$red                : #F06D65;
$green              : #59BEA0;
$blue               : #54C1E3;
$yellow             : #F3863D;
$purple             : #7C72DC;
$orange             : #F3863D;
$highlight          : $blue;
$padding            : 10px;