#m2d2-alert .m2d2-alert-front {
    min-width: 400px;
    min-height: 100px;
    background-color: #D9D9D9;
    border: 1px solid #9D9D9D;
    outline: 2px solid #EEE;
    padding: 10px;
    box-shadow: 0 0 5px 1px #000;
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}
#m2d2-alert .m2d2-alert-front .icon {
    font-size: 3em;
    display: block;
    margin: 10px;
}
#m2d2-alert .m2d2-alert-front.question .icon {
    color: #54c1e3;
}
#m2d2-alert .m2d2-alert-front.ok .icon {
    color: #59bea0;
}
#m2d2-alert .m2d2-alert-front.input .icon {
    color: #f3863d;
}
#m2d2-alert .m2d2-alert-front.wait .icon {
    color: #333333;
}
#m2d2-alert .m2d2-alert-front.error .icon {
    color: #f06d65;
}
#m2d2-alert .m2d2-alert-front.info .icon {
    color: #f3863d;
}
#m2d2-alert .m2d2-alert-front .m2d2-alert-title {
    font-size: 200%;
    text-align: center;
    line-height: 40px;
}
#m2d2-alert .m2d2-alert-front .m2d2-alert-text {
    line-height: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
#m2d2-alert .m2d2-alert-front .m2d2-alert-field {
    border: 0;
}
#m2d2-alert .m2d2-alert-front .m2d2-alert-field, #m2d2-alert .m2d2-alert-front .m2d2-alert-field input {
    width: 100%;
}
#m2d2-alert .m2d2-alert-front .m2d2-alert-buttons {
    padding: 10px;
    width: 100%;
}
#m2d2-alert .m2d2-alert-front .m2d2-alert-buttons button {
    min-width: 100px;
    text-transform: capitalize;
    padding: 10px 20px;
    cursor: pointer;
}
#m2d2-alert .m2d2-alert-front .m2d2-alert-buttons .ok, #m2d2-alert .m2d2-alert-front .m2d2-alert-buttons .yes, #m2d2-alert .m2d2-alert-front .m2d2-alert-buttons .send {
    float: right;
}
#m2d2-alert .m2d2-alert-front .m2d2-alert-buttons .no, #m2d2-alert .m2d2-alert-front .m2d2-alert-buttons .cancel {
    float: left;
}
/** POPUP ANIMATION **/
@keyframes popup {
    0%    { transform: scale(1); }
    50%   { transform: scale(1.4); }
    60%   { transform: scale(1.1); }
    70%   { transform: scale(1.2); }
    80%   { transform: scale(1); }
    90%   { transform: scale(1.1); }
    100%  { transform: scale(1); }
}
@keyframes vanish {
    0%    { transform: scale(1); }
    20%   { transform: scale(1.4); }
    100%   { transform: scale(0); }
}
.popup {
    animation: popup 0.7s;
}
.vanish {
    animation: vanish 0.5s;
}
/** WAIT SPIN **/
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}
.icon.spin,
.material-icons.spin,
.fa.fa-spin::before {
    animation: spin 2s linear infinite;
}
