html * {
    box-sizing: border-box;
    font-size: 16px;
    font-family: verdana, tahoma, sans-serif;
}
body {
    max-width: 1500px;
    margin: auto;
    border: 1px solid #CCC;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: min-content 20% auto;
    grid-template-areas:
        "header header"
        "links example"
        "footer example";
    grid-gap: 10px;
    height: 100vh;
}
header {
    grid-area: header;
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    background: #CCC;
}
header h3 {
    margin: 0;
}
header button {
    margin: 0 20px;
    padding: 10px;
    cursor: pointer;
}
header button.prev::before {
    content: '⏪';
    float: left;
}
header button.next::after {
    content: '⏩';
    float: right;
}
article {
    padding: 10px;
    grid-area: example;
}
section {
    display: grid;
    grid-template-rows: 50% 50%;
    border: 1px solid #333;
}
iframe {
    min-height: 300px;
}
aside {
    grid-area: links;
}
aside li {
    background-color: #EEE;
    margin: 1px;
    list-style: none;
}
aside li:hover {
    background-color: #FFC;
    cursor: pointer;
}
aside li[selected], aside li[selected] a {
    background-color: #FF6;
    cursor: default;
}
aside a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}
footer {
    grid-area: footer;
    border: 1px solid #CCC;
    border-bottom: 0;
}
aside ol,
footer ol {
    padding-left: 25px;
    padding-right: 5px;
}
footer li {
    margin: 20px 0;
}
h1 {
    color: #333;
    margin: 0;
    padding: 5px;
    background: #CCC;
    font-size: 18px;
    text-align: center;
}
